@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background-start-rgb: 214, 219, 220;

}

.borderBlack {
  @apply border border-black/10;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.blob{
  
  animation: blob 7s linear infinite;
  transition: all 2s linear;
  
  
}
@keyframes blob{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  20%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  40%{
    border-radius: 50% 60% 30% 60%/ 40% 20% 40% 70%;
  }
  60%{
    border-radius: 40% 20% 40% 70%/ 60% 40% 60% 50%;
  }
  80%{
    border-radius: 60% 40% 60% 50%/ 60% 40% 30% 70%;
  }
  100%{
    border-radius:  60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.spec{
  
  font-family: var(--font-specFont);
  font-size: 9vw;
  font-weight: bold;
  text-transform: capitalize;
  color:#10061a;
  background: linear-gradient(-45deg,#fb7185,#d946ef,#6366f1);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 4px transparent;

 
}
.regular{
  font-family: var(--font-inter);
}
.mid{
  font-family:var(--font-mid);
}
.introFont{
  font-family:var(--font-introFont);
}
